
<!DOCTYPE html>
<html>
<head>
	<title>Process Manager</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-app="mySocketApp" >
	<div class="container" ng-controller="ProcessManagerController as processControl">
	{{hi}}
		<div class="well">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-primary">Process Manager</h1>
				</div>		
			</div>
			<div class="row">

				<div class="form-group col-md-4">
					<label for="process">Process: </label>
					<input id="process"  class="form-control" ng-model="newProcess.process"/>  
				</div>
				<div class="form-group col-md-2">
					<label for="processingTime">Processing Time: </label>
					<input id="processingTime" type="number" class="form-control" ng-model="newProcess.processingTime"/>  
				</div>
				<div class="form-group col-md-6">
					<button id="send" class="btn btn-success btn-lg" ng-click="sendProcess()">Send</button>  
				</div>
				
			</div>	
		</div>
		<div class="well">
			<div class="row">
				<div class="col-md-12">
					<h1 class="text-primary">Queue Process</h1>
				</div>		
			</div>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="table-responsive">
						<table class="table table-hover table-bordered table-condensed" id="processQueue">
							<thead>
								<tr>
									<th>Id</th>
									<th>Process</th>
									<th>Processing Time</th>
									<th>Remaining time</th>
									<th>Status</th>
								</tr>
							</thead>
							<tbody id="processList">
								<tr ng-repeat="process in processList track by $index">
									<td>{{process.id}}</td>
									<td class="text-info">{{process.process}}</td>
									<td>{{process.processingTime}}</td>
									<td>{{process.remainingTime}}</td>
									<td>{{process.status}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<button class="btn btn-default" ng-click="startProcessing()">Start Processing</button>
				</div>
				<div class="col-md-4">
					<button class="btn btn-default" ng-click="cleanList()">Clean List</button>
				</div>				
			</div>	
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>

	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>  

	<script src="/socket.io/socket.io.js"></script>  

	<script src="/socketAngular.js"></script> 
	  

	<script src="/Scripts/Controllers/ProcessManagerController.js"></script> 

<!--
	<script>  
  
	var socket = io.connect();  
	  
	socket.on('message', function (data) {  
	  	console.log(data, "form server");
		$('#processQueue #processList').append(
			'<tr>' +
				'<td>' + data.process + ': ' + '</td>'+ 
				'<td>' + data.processingTime + '</td>'+ 
			'</tr>');  
	  
	});  
	  
	  
	$(document).ready(function () {  
	  
		$('#send').click(function () {  
		  
		var processs = $('#process').val();  
		var processingTime = $('#processingTime').val();  
		  
		socket.emit('client_data', 
			{ 'process': processs,
				'processingTime': processingTime
			 });  
		  
		})  
	  
	});  
	  
	</script>  
-->
</body>
</html>



  
  
  
